body {
	text-align:center;
	font-family: 微软雅黑,serif;
	#background: url(/static/background.jpg) fixed 0 0;
	background-color: #c0c0c0;
	background-size:cover;}
a {
	text-decoration:none;
	color:#333333;
  }	

.titlea:link {
		color:white;
		}
.titlea:visited {
		color:white;
		}
.titlea:hover {
		color:#CCFFFF;
		}
.titlea:active {
		color:#CCFFFF;
		}
.bigdiv {
		margin:auto;
		width:600px;
		}
.titlediv{
		margin:auto;
		width:600px;
		background-color:#666666;
		}
ul:after{
		content: '';
		display: table;
		clear: both;
		}
li {float:left;
	padding:0;
	margin:10px;}
.content{
		text-align:left;
		}
.author{
		text-align:right;}

a:link {
		color:#003366;
		}
a:visited {
		color:#003366;
		}
a:hover {
		color:#006699;
		}
a:active {
		color:#006699;
		}



A img{
	-webkit-filter:grayscale(1);
	filter:gray;
	transition: all 1s;
		}

a:hover img {
		 -webkit-filter:grayscale(0);
	filter: none
		}
