body {
	text-align:center;
	font-family: 微软雅黑,serif;
	#background: url(/static/background.jpg) fixed 0 0;
	background-color: #c0c0c0;
	background-size:cover;}
.bigdiv {
		margin:auto;
		width:600px;
		}
ul:after{
		content: '';
		display: table;
		clear: both;
		}
li {float:left;
	padding:0;
	margin:10px;}
.content{
		text-align:left;
		}
.author{
		text-align:right;}

