<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/index.css" />
		<title>那年那个死孩子</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	</head>
	<body>
		<div class="bigdiv">
		<div class="bigdiv">
			<ul style="list-style-type:none;">
				<li>
					<a href="/">首页</a>
				</li>
				<li>
					<a href="/sx">傻X系列</a>
				</li>
				<li>
					<a href="/about">About Me</a>
				</li>
			</ul>
		</div>
	    {% for i in mess %}
		<div class="bigdiv">
		<p>{{i[0]|safe}}</p>
		{% if i[4] != None %}
		<img src={{i[4]}} width="600px" height="300px" />
		{% endif %}
		<span class="content">{{i[1]|safe}}</span>
		<p class="author">by {{i[2]|safe}} in {{i[3]|safe}}</p>
		</div>
		{% endfor%}
		</div>
	</body>
</html>
