<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/index.css" />
		<title>那年那个死孩子</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
	</head>
	<body>
		<div class="bigdiv">
		<div class="titlediv">
			<ul style="list-style-type:none;">
				<li>
					<a class="titlea" href="/">Index</a>
				</li>
				<li>
					<a class="titlea" href="/links">Friends</a>
				</li>
				<li>
					<a class="titlea" href="/about">About Me</a>
				</li>
			</ul>
		</div>
		<br/>
	    {% for i in mess %}
		<div class="bigdiv">
		<p><a href="/talk?title={{i[0]|safe}}">{{i[0]|safe}}</a></p>
		{% if i[4] != None %}
		<img src={{i[4]}} width="600px" height="300px" />
		{% endif %}
		<span class="content">{{i[1]|safe}}</span>
		<p class="author">by {{i[2]|safe}} in {{i[3]|safe}}</p>
		</div>
		<br />
		<br />
		{% endfor%}
		<br />
		{% if page > 1 %}
		{% for start in range(1,page+1) %}
		<a href="/?start={{start}}">{{start}}</a>
	    {% endfor %}
		{% else %} 
		<a href="/?start=1">{{page}}</a>
		{% endif %}
	<br />
	<br />
	<br />
	<br />
	<br />
	<p>Copyright 2014 Wicky Stone |  Powered By EC2 Flask</p>
		</div>
	</body>

</html>
